
.topNav {
    background-color: #262336;

    color: #686472;
}

.topNav ul{
    list-style: none ;
}

.topNav li {
    font-size: 150%;
    text-align: center;
}

.heroBlock {
    background-color: #686472;
    color: white;

}

.heroBlock div {
    text-align: center;
}

.aboutBlock {
    background-color:#f29b66 ;
    color: black;
    
}

.aboutBlock p {
    text-align: center;
}


.pricingBlock {
    background-color: #d8d4d4;
    text-align: center;
}

.box1 {
    background-color: #6f6c89;
}

.box2 {
    background-color: #6f6c89;
}

.box3 {
    border-left: 30px solid #ffffff;
    border-right: 30px solid #fff;
    border-bottom: 30px solid #fff;
    border-top: 30px solid #6f6c89;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
}

.box4  {
    background-color:  #ffffff;
    padding-top: 60px;
}

.box6 {
    background-color:  #ffffff;
}

.box8 {
    background-color:  #ffffff;
    padding: 10px;
}

.box5 {
    background-color: #f5f0f0 ;
}

.box7 {
    background-color: #f5f0f0 ;
}

.detailsBlock {
    background-color:  #262336;
    color: white;
    text-align: center;
}

.detailsBlock .buttonSpace {
    padding-bottom: 20px;
}


.logoImages {
    background-color:#322f40 ;
}

.bottomBar {
    background-color: #1a1921;
    color: grey;
}