

body button{
    border-radius: 10px;
}
.topNav {
    background-color: #262336;

    color: #686472;

    border-bottom: 1px solid #686472;
}

.topNav ul {

    text-align: center;
    font-size: x-large;
}

.topNav li {
    display: inline;
   
}


.heroBlock {
    background-color: #262336 ;
    color: white;

}

.heroBlock div {
    text-align: center;
}

.aboutBlock {
    background-color:#f29b66 ;
    color: black;
    
}

.aboutBlock p {
    text-align: center;
}


.pricingBlock {
    background-color: #d8d4d4;
    text-align: center;


}

.pricingBlock button {
    background-color: #f29b66;
    color: white;
}

.box1 {
    background-color: #6f6c89;
}

.box2 {
    background-color: #6f6c89;
}

.box3 {
    border-left: 30px solid #ffffff;
    border-right: 30px solid #fff;
    border-bottom: 30px solid #fff;
    border-top: 30px solid #6f6c89;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
}

.box4  {
    background-color:  #ffffff;
    padding-top: 60px;
}

.box6 {
    background-color:  #ffffff;
}

.box8 {
    background-color:  #ffffff;
    padding: 10px;
}

.box5 {
    background-color: #f5f0f0 ;
}

.box7 {
    background-color: #f5f0f0 ;
}

.detailsBlock {
    background-color:  #262336;
    color: white;
    text-align: center;
}

.detailsBlock .buttonSpace {
    padding-bottom: 20px;
}

.detailsBlock button {
    background-color: #f29b66;
    color: white;
}

.logoImages {
    background-color:#322f40 ;
}

.bottomBar {
    background-color: #1a1921;
    color: grey;
}

.detailsBlock li::marker{
        
    color: #f29b66;


}



@media (min-width:768px){
    
    .topNav ul {

        text-align: right;
    }
    
    .topNav li {
        display: inline;
    }

    .socialButtons {
       text-align: right;
    }

}

@media (min-width: 992px) {
    .detailsBlock ul {
        list-style-position: inside;

        text-align: left;

        
    }


    
    
}